html,
body,
.view {
    height: 100%;
}

header{
    height: 88%;
    min-height: 800px;
}

.btn .fa {
    margin-left: 3px;
}

.btn-white {
    color: black !important;
}

h6 {
    line-height: 1.7;
}

.ad-text{
    text-shadow: 2px 2px black;
}

.desc-bottom{
    position: absolute;
    bottom: 100px;
}

.text-large{
    font-size: 3rem;
    font-weight: bold;
}

.ml-20{
    margin-left: 20px;
}

.rounded-corners{
    border: 1px solid transparent;
    border-radius: 2rem;
}

.search-border{
    border: 2px solid #3723C4;
}

.search-border:focus{
    border: 2px solid #3723C4;
    box-shadow: 0 0 5px #3723C4;
}

.text-purple{
    color: #3723C4 !important;
}

.text-red{
    color: #F41C31 !important;
}

.text-bold{
    font-weight: bold !important;
}

ul.bottom-nav > li > a {
    color: #F21C32;
    font-weight: bold;
}

.view{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.register-container{
    margin-top: 200px;
}

@media (max-width: 992px) {
    .register-container{
        margin-top: 100px;
    }
    header{
        min-height: 600px;
    }
}

.card-body{
    padding-top: 60px;
}

.register-form input:focus{
    -webkit-box-shadow: 0 1px 0 0 #3723C4 !important;
    box-shadow: 0 1px 0 0 #3723C4 !important;
    border-bottom: 1px solid #3723C4 !important;
}

.register-form input:focus+label{
    color: #3723C4 !important;
}

.btn-purple{
    background-color: #3723C4 !important;
}

.bmarket-gradient{
    background: -webkit-linear-gradient(50deg, #3823C3, #F21C32) !important;
    background: -o-linear-gradient(50deg, #3823C3, #F21C32) !important;
    background: linear-gradient(40deg, #3823C3, #F21C32)!important;
}