html,
body,
.view {
    height: 100%;
}

header{
    height: 88%;
    min-height: 800px;
}

.btn .fa {
    margin-left: 3px;
}

.btn-white {
    color: black !important;
}

h6 {
    line-height: 1.7;
}

.ad-text{
    text-shadow: 2px 2px black;
}

.desc-bottom{
    position: absolute;
    bottom: 100px;
}

.text-large{
    font-size: 3rem;
    font-weight: bold;
}

.ml-20{
    margin-left: 20px;
}

.rounded-corners{
    border: 1px solid transparent;
    border-radius: 2rem;
}

.search-border{
    border: 2px solid #3723C4;
}

.search-border:focus{
    border: 2px solid #3723C4;
    box-shadow: 0 0 5px #3723C4;
}

.text-purple{
    color: #3723C4 !important;
}

.text-red{
    color: #F41C31 !important;
}

.text-bold{
    font-weight: bold !important;
}

ul.bottom-nav > li > a {
    color: #F21C32;
    font-weight: bold;
}

header > .view{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.register-container{
    margin-top: 200px;
}

@media (max-width: 992px) {
    .register-container{
        margin-top: 100px;
    }
    header{
        min-height: 600px;
    }
}

.card-body{
    padding-top: 60px;
}

.register-form input:focus{
    -webkit-box-shadow: 0 1px 0 0 #3723C4 !important;
    box-shadow: 0 1px 0 0 #3723C4 !important;
    border-bottom: 1px solid #3723C4 !important;
}

.register-form input:focus+label{
    color: #3723C4 !important;
}

.btn-purple{
    background-color: #3723C4 !important;
}

.bmarket-gradient{
    background: -webkit-linear-gradient(50deg, #3823C3, #F21C32) !important;
    background: -o-linear-gradient(50deg, #3823C3, #F21C32) !important;
    background: linear-gradient(40deg, #3823C3, #F21C32)!important;
}

.text-error{
    color: red !important;
}
.btn-error{
    background-color: red !important;
}
.btn-warning{
    background-color: orange !important;
}
.text-warning{
    color: orange !important;
}
.btn-success{
    background-color: green !important;
}
.text-success{
    color: green !important;
}

.mt-navigation{
    margin-top: 80px;
    margin-bottom: 25px;
}

footer {
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .16),
        0 -2px 10px 0 rgba(0, 0, 0, .12);
    font-weight: 300;
}

.avatar-img{
    height: 40px;
    width: 40px;
}

.subpage-header{
    margin-top: 76px;
    padding: 25px 0 25px 0;
    background: -webkit-linear-gradient(50deg, #3823C3, #F21C32) !important;
    background: -o-linear-gradient(50deg, #3823C3, #F21C32) !important;
    background: linear-gradient(40deg, #3823C3, #F21C32)!important;
}

.subpage-content{
    padding-top: 25px;
    padding-bottom: 25px;
}

.subpage-header > div > h2{
    color: white;
    font-weight: bolder;
}

.custom-file-label:after{
    content: "Przeglądaj" !important;
}

.btn-book{
    width: 100%;
    max-width: 300px;
}

#price-box{
    margin: 0;
    max-width: 250px;
}

#price-box label{
    position: absolute;
    top: .65rem;
}

.book-entity{
    border-bottom: 1px solid lightgray;
    padding-bottom: 25px;
    padding-top: 25px;
}

img.book-cover{
    height: 150px;
    width: 110px;
}

.book-entity .col{
    line-break: strict;
    white-space: nowrap;
}

.mt-35{
    margin-top: 35px;
}

.col-mw-130{
    max-width: 130px !important;
}

.pos-ab-rg{
    position: absolute;
    right: 0;
}

.book-offer{
    background-color: #f1f1f1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 40px;
    padding-top: 20px;
    margin-bottom: 25px;
}

.book-entity-offer{
    padding-bottom: 25px;
    padding-top: 25px;
}

.book-offer > div > div:first-child{
    padding-left: 0;
}

.offer-list-table{
    width: 100%
}

.offer-row{
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
}

.offer-row div.row{
    margin: 0;
    padding-left: 10px;
    padding-right: 25px;
    width: 575px;
}

.offer-row > td{
    width:auto;
}

.offer-list-table thead  th{
    text-align: center;
}

.offer-row h4, .offer-row span{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 1200px){
    .offer-row div.row{
        width: 475px;
    }
}

@media (max-width: 992px){
    .offer-row div.row{
        width: 355px;
    }
}

@media (max-width: 767px){
    .offer-row div.row{
        width: 345px;
        padding-left: 0;
    }
    .image-cell{
        display: none;
    }
    .
}

@media (max-width: 576px){
    .offer-row div.row{
        width: 345px;
    }
}

