/*
html,
body,
.view {
    height: 100%;
}
*/

header{
    height: 88%;
    min-height: 800px;
}

.btn .fa {
    margin-left: 3px;
}

.btn-white {
    color: black !important;
}

h6 {
    line-height: 1.7;
}

.ad-text{
    text-shadow: 2px 2px black;
}

.desc-bottom{
    position: absolute;
    bottom: 100px;
}

.text-large{
    font-size: 3rem;
    font-weight: bold;
}

.ml-20{
    margin-left: 20px;
}

.rounded-corners{
    border: 1px solid transparent;
    border-radius: 2rem;
}

.search-border{
    border: 2px solid #3723C4;
}

.search-border:focus{
    border: 2px solid #3723C4;
    box-shadow: 0 0 5px #3723C4;
}

.text-purple{
    color: #3723C4 !important;
}

.text-red{
    color: #F41C31 !important;
}

.text-bold{
    font-weight: bold !important;
}

ul.bottom-nav > li > a {
    color: #F21C32;
    font-weight: bold;
}

header > .view{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.register-container{
    margin-top: 200px;
}

@media (max-width: 992px) {
    .register-container{
        margin-top: 100px;
    }
    header{
        min-height: 600px;
    }
}

.card-body{
    padding-top: 60px;
}

.register-form input:focus{
    -webkit-box-shadow: 0 1px 0 0 #3723C4 !important;
    box-shadow: 0 1px 0 0 #3723C4 !important;
    border-bottom: 1px solid #3723C4 !important;
}

.register-form input:focus+label{
    color: #3723C4 !important;
}

.btn-purple{
    background-color: #3723C4 !important;
}

.bmarket-gradient{
    background: -webkit-linear-gradient(50deg, #3823C3, #F21C32) !important;
    background: -o-linear-gradient(50deg, #3823C3, #F21C32) !important;
    background: linear-gradient(40deg, #3823C3, #F21C32)!important;
}

.text-error{
    color: red !important;
}
.btn-error{
    background-color: red !important;
}
.btn-warning{
    background-color: orange !important;
}
.text-warning{
    color: orange !important;
}
.btn-success{
    background-color: green !important;
}
.text-success{
    color: green !important;
}

.mt-navigation{
    margin-top: 80px;
    margin-bottom: 25px;
}

footer {
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .16),
    0 -2px 10px 0 rgba(0, 0, 0, .12);
    font-weight: 300;
}

.avatar-img{
    height: 40px;
    width: 40px;
}

.subpage-header{
    margin-top: 76px;
    padding: 25px 0 25px 0;
    background: -webkit-linear-gradient(50deg, #3823C3, #F21C32) !important;
    background: -o-linear-gradient(50deg, #3823C3, #F21C32) !important;
    background: linear-gradient(40deg, #3823C3, #F21C32)!important;
}

.subpage-content{
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: calc(100vh - 278px);
}

.subpage-header > div > h2{
    color: white;
    font-weight: bolder;
}

.custom-file-label:after{
    content: "Przeglądaj" !important;
}

.btn-book{
    width: 100%;
    max-width: 300px;
}

#price-box{
    margin: 0;
    max-width: 250px;
}

#price-box label{
    position: absolute;
    top: .65rem;
}

.book-entity{
    border-bottom: 1px solid lightgray;
    padding-bottom: 25px;
    padding-top: 25px;
}

.book-entity .col{
    line-break: strict;
    white-space: nowrap;
}

.mt-35{
    margin-top: 35px;
}

.col-mw-130{
    max-width: 130px !important;
}

.pos-ab-rg{
    position: absolute;
    right: 0;
}

.book-offer{
    background-color: #f1f1f1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 40px;
    padding-top: 20px;
    margin-bottom: 25px;
}

.book-entity-offer{
    padding-bottom: 25px;
    padding-top: 25px;
}

.book-offer > div > div:first-child{
    padding-left: 0;
}

.offer-list-table{
    width: 100%;
    table-layout: fixed;
}

.offer-row{
    border-top: 1px solid lightgray;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
}

.offer-row:first-child {
    border-top: none;
}


.offer-row td{
    padding-top: 15px;
    padding-bottom: 15px;
}

.col-img{
    width: 120px;
}

.col-pri{
    white-space:nowrap;
    width: 150px;
    text-align: center;
}

.col-det{
    width: auto;
}

.offer-row div{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.offer-list-table thead  th{
    text-align: center;
}

.offer-row h4, .offer-row span, .offer-row a{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


@media (max-width: 767px){
    .offer-row h4{
        font-size: 1.05rem !important;
    }
    .offer-row h2{
        font-size: 1.5rem;
    }
    .col-pri{
        width: 110px;
    }
    .image-cell {
        display: none;
    }
    .cell-details{
    }
}

.del-button-link{
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444;
    cursor: pointer;
    color: indianred;
    font-weight: bold;
    transition: all .2s ease-in-out ;
}

.del-button-link:hover{
    color: mediumpurple;
}

.offer-row h4 a{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text-offer-details{
    font-weight: 400;
    font-size: 1.05rem;
    text-align: justify;
}

.text-offer-price{
    color: purple;
    font-weight: 500;
    font-size: 1.5rem;
}

.text-summary-price{
    color: purple;
    font-weight: 500;
    font-size: 1.2rem;
}
.text-summary-price:after{
    color: purple;
    font-weight: 500;
    font-size: 1.2rem;
    content: " zł";
}

.offer-desc{
    text-align: justify;
}

.offer-desc h6{
    color: midnightblue;
    font-size: small;
    margin-bottom: 0;
}

.offer-desc span{
    margin-bottom: 0.5rem;
}

.offer-row h4{
    font-weight: 400;
    font-size: 1.3rem;
}

.terms-content p{
    text-align: justify;
}

.navbar-terms{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    background-color: #f4f4f4;
}

.navbar-terms .nav-link{
    color: #3723C4 !important;
}

.navbar-terms .nav-link.active{
    background-color: #3723C4 !important;
    color: #fff !important;
}

.nav-tabs{
    border-bottom: 1px solid #3723C4;
    margin-bottom: 25px;
}

.nav-tabs a{
    color: #3723C4 !important;
}

.nav-tabs a.active{
    color: #1703A4 !important;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #3723C4 #3723C4 #fff;
}

.books-to-buy-list table{
    width: 100%;
}

.books-to-buy-list table tr div:first-child{
    margin-top: 10px;
    font-weight: bold;
}

.books-to-buy-list table tr div{
    margin-left: 10px;
    overflow: hidden;
    word-break: break-word;
}

.books-to-buy-list table tr:first-child div:first-child{
    margin-top: 0;
}

.summary h5{
    font-weight: bold;
}

p.info{
    font-size: 0.8rem;
    color: gray;
}

.empty-info{
    display: none;
}

.empty-wrap .frame{
    display: none;
}

.empty-wrap .pages{
    display: none;
}

.empty-wrap .empty-info{
    display: block;
}

.tooltip-inner {
    white-space:pre-wrap;
}

.book-cover {
    width: 110px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}​

