<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BMarket</title>
    <!--/*/ <th:block th:include="html/head.html :: imports">
        </th:block> /*/-->
</head>
<body>
<!-- CONTENT -->

<nav th:replace="html/header.html :: navigation"></nav>

<div class="subpage-header">
    <div class="container">
        <h2>Dodaj książkę</h2>
    </div>
</div>

<div class="container subpage-content">
    <div>
        <!--form start-->
        <form method="post" th:action="@{/postAddUserBook}" th:object="${bookDTO}">
            <div class="row">
                <!--form left column start-->
                <div class="col-md-4">
                    <!--photo-->

                    <label>Zdjęcie</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Wybierz plik</label>
                        </div>
                    </div>
                    <!--title-->
                    <div class="md-form">
                        <label for="title">Tytuł</label>
                        <input type="text" id="title" class="form-control" th:field="*{title}">
                    </div>
                    <!--author-->
                    <div class="md-form">
                        <label for="author">Autor</label>
                        <input type="text" id="author" class="form-control" th:field="*{authors}">
                    </div>
                    <!--publisher-->
                    <div class="md-form">
                        <label for="publisher">Wydawnictwo</label>
                        <input type="text" id="publisher" class="form-control" th:field="*{publisher}">
                    </div>
                    <!--isbn-->
                    <div class="md-form">
                        <label for="isbn">ISBN</label>
                        <input type="text" id="isbn" class="form-control" th:field="*{isbn}">
                    </div>
                    <!--publish year-->
                    <div class="md-form">
                        <label for="year">Rok wydania</label>
                        <input type="text" id="year" class="form-control">
                    </div>

                </div>
                <!--form left column end-->
                <!--form right column start-->
                <div class="col-md-8">
                    <!--category-->
                    <div class="md-form">
                        <!--<label for="category">Kategoria</label>
                        <input type="text" id="category" class="form-control">-->

                        <select id="category" class="browser-default custom-select" >
                            <option selected disabled>Wybierz kategorię</option>
                            <option th:each="category : ${categories}" th:text="${category.value}"> Category </option>
                        </select>
                    </div>
                    <!--condotion-->
                    <div class="row">
                        <div class="col col-auto">
                            <span class="">Stan</span>
                        </div>
                        <!--
                        <div class="col">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="new" name="condition">
                                <label class="custom-control-label" for="new">nowa</label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="used" name="condition" checked>
                                <label class="custom-control-label" for="used">używana</label>
                            </div>
                        </div>
                        -->
                        <div class="col">
                            <div class="custom-control custom-radio" th:each="condition : ${conditions}">
                                <input type="radio" class="custom-control-input" id="new" th:id="${condition.id}" name="condition">
                                <label class="custom-control-label" th:for="${condition.id}" th:text="${condition.value}"></label>
                            </div>
                        </div>
                    </div>
                    <!--opis-->
                    <div class="md-form">
                        <textarea id="desc" class="md-textarea form-control" rows="3"></textarea>
                        <label for="desc">Opis</label>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-purple btn-book my-4" type="submit">Dodaj książkę</button>
                </div>
            </div>
        </form>
        <!--form end-->
    </div>
</div>


<footer th:replace="html/footer.html :: footer"></footer>

<!--/*/ <th:block th:include="html/js.html :: scripts">
        </th:block> /*/-->
<script>
    $('#offer-type-radio input').on('change', function() {
        if($('input[name=offer-type]:checked', '#offer-type-radio').val() == 'sell'){
            $('#price-box').show();
        }
        else{
            $('#price-box').hide();
        }
    });
</script>
</body>
</html>