<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BMarket</title>
    <!--/*/ <th:block th:include="html/head.html :: imports">
        </th:block> /*/-->
</head>
<body>
<!-- CONTENT -->
<nav th:replace="html/header.html :: navigation"></nav>
<div class="container mt-navigation">
    <h1>Podsumowanie zakupu</h1>

    <h4>Oferta</h4>
    <div>
        <p th:text="'Tytuł oferty: ' + ${offer.title}"></p>
        <p th:text="'Opis: ' + ${offer.description}"></p>
        <p th:text="'Cena: ' + ${offer.price}"></p>
        <p th:text="'Miasto: ' + ${offer.city}"></p>
        <p>Książki:</p>
        <table th:each="book : ${offer.books}">
            <tr>
                <td><span th:text="${book.title}"> Tytuł </span></td>
            </tr>
            <tr>
                <td><span th:text="${book.authors}"> Autor </span></td>
            </tr>
            <tr>
                <td><span th:text="${book.publisher}"> Wydawnictwo </span></td>
            </tr>
            <tr>
                <td><span th:text="${book.getBookCondition()}"> Stan książki </span></td>
            </tr>
        </table>
    </div>
    <!--
        <h4>Sprzedający</h4>

        <div>
            <p th:text="'Imię i nazwisko: ' + ${seller.name} + ' ' + ${seller.surname}"></p>
            <p th:text="'Numer telefonu: ' + ${seller.phoneNumber}"></p>
            <p>Numer konta: 345436464 (hardcode - dodać pole do bazy)</p>
        </div>
        -->

    <div><h6><a th:href="'/postBuyBook'">edytuj</a></h6></div>

    <footer th:replace="html/footer.html :: footer"></footer>


    <!--/*/ <th:block th:include="html/js.html :: scripts">
            </th:block> /*/-->

</div>
</body>
</html>
