<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BMarket</title>
    <!--/*/ <th:block th:include="html/head.html :: imports">
        </th:block> /*/-->
</head>
<body>
<!-- CONTENT -->
<nav th:replace="html/header.html :: navigation"></nav>
<div class="subpage-header">
    <div class="container">
        <h2>Potwierdzenie transakcji</h2>
    </div>
</div>

<div class="container summary">
    <br>
    <div class="row" style="margin-left: -3px;">
        <h4><p th:text="${offer.title}">Tyyulululu</p></h4>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h5>Książki:</h5>
            <!--
            <table th:each="book : ${offer.books}">
                <thead>
                    <th>Tytuł</th>
                    <th>Tytuł</th>
                    <th>Tytuł</th>
                    <th>Tytuł</th>
                </thead>
                <tbody>
                    <tr>
                        <td><span th:text="${book.title}"> Tytuł </span></td>
                    </tr>
                    <tr>
                        <td><span th:text="${book.authors}"> Autor </span></td>
                    </tr>
                    <tr>
                        <td><span th:text="${book.publisher}"> Wydawnictwo </span></td>
                    </tr>
                    <tr>
                        <td><span th:text="${book.getBookCondition()}"> Stan książki </span></td>
                    </tr>
                </tbody>
            </table>
            -->
            <ol class="books-to-buy-list">
                <table>
                    <tr th:each="book : ${offer.books}">
                    <td><li></li></td>
                    <td>
                        <div th:text="${book.title}"></div>
                        <div th:text="${book.authors}"></div>
                        <div th:text="${book.publisher}"></div>
                        <div th:text="${book.bookCondition.value}"></div>
                    </td>
                    </tr>
                </table>
            </ol>

            <h5>Opis oferty</h5>
            <p th:text="${offer.description}">gdfgdf</p>
            <h5>Lokalizacja</h5>
            <p th:text="${offer.city}">gfdgdf</p>
            <h5>Cena</h5>
            <p class="text-summary-price" th:text="${offer.price}">gfdgdf</p>
        </div>

        <div class="col-md-5">
            <h5>Sprzedający</h5>
            <div>
                <p th:text="'Imię i nazwisko: ' + ${seller.name} + ' ' + ${seller.surname}"></p>
                <p th:text="'Numer telefonu: ' + ${seller.phoneNumber}"></p>
                <p th:text="'Email: ' + ${seller.email}"></p>
                <p>Numer konta: 345436464 </p>
            </div>
        </div>
    </div>

    <div class="row mt-35">
        <div class="col text-center">
            <a th:href="'/postBuyOffer/'+${offer.id}"><button class="btn btn-purple btn-book loading-icon">POTWIERDŹ</button></a>
            <p class="info">Potwierdzenie transakcji wiąże się z obowiązkiem zakupu</p>
        </div>
    </div>
    <br><br><br><br>
</div>

 <footer th:replace="html/footer.html :: footer"></footer>


 <!--/*/ <th:block th:include="html/js.html :: scripts">
         </th:block> /*/-->


</body>
</html>
