<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BMarket</title>
    <!--/*/ <th:block th:include="html/head.html :: imports">
        </th:block> /*/-->
</head>
<body>
<!-- CONTENT -->
<nav th:replace="html/header.html :: navigation"></nav>
<div class="container mt-navigation">
    <section>
        <form method="post" th:action="@{/postChangePassword}" th:object="${userDTO}">
            <div class="form-group">

                <div class="md-form">
                    <input type="password" id="form3" class="black-text form-control input-purple" th:field="*{password}">
                    <label for="form3" class="label-purple active">Nowe hasło:</label>
                </div>

                <div class="md-form">
                    <input type="password" id="form4" class="black-text form-control input-purple" th:field="*{matchingPassword}">
                    <label for="form4" class="label-purple active">Potwierdź nowe hasło:</label>
                </div>
            </div>
            <button class="btn btn-outline-purple" type="submit" value="Zmień">zmień hasło</button>
        </form>
    </section>
</div>

<footer th:replace="html/footer.html :: footer"></footer>

<!--/*/ <th:block th:include="html/js.html :: scripts">
        </th:block> /*/-->

</body>
</html>
