<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BMarket</title>
    <!--/*/ <th:block th:include="html/head.html :: imports">
        </th:block> /*/-->
</head>
<body>
<!-- CONTENT -->

<nav th:replace="html/header.html :: navigation"></nav>

<div class="subpage-header">
    <div class="container">
        <h2>Kontakt</h2>
    </div>
</div>

<div class="subpage-content container">
    <form id="contact-form" name="contact-form" action="mail.php" method="POST">
        <section class="mb-4">
            <div class="row">
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-phone mt-4 fa-2x"></i>
                            <p>+ 01 234 567 89
                                <br>
                                8:00 - 18:00</p>
                        </li>
                        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                            <p>kontakt@bmarket.pl</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9 mb-md-0 mb-5">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" name="name" class="form-control">
                                <label for="name" class="">Imię</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email" name="email" class="form-control">
                                <label for="email" class="">E-mail</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" name="subject" class="form-control">
                                <label for="subject" class="">Temat</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                <label for="message">Wiadomość</label>
                            </div>

                        </div>
                    </div>
                    <div class="row text-center">
                        <button style="margin: 0 auto;" class="btn btn-purple btn-book my-4" type="submit">Wyślij</button>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>


<footer th:replace="html/footer.html :: footer"></footer>

<!--/*/ <th:block th:include="html/js.html :: scripts">
        </th:block> /*/-->

</body>
</html>