<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BMarket</title>
    <!--/*/ <th:block th:include="html/head.html :: imports">
        </th:block> /*/-->
    <style>
        html,
        body,
        .view {
            height: 100%;
        }
    </style>
</head>
<body>
<!-- CONTENT -->
    <header>
        <nav th:replace="html/header.html :: navigation"></nav>

        <div class="view" style="">
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md white-text text-center mt-xl-5 mb-5 wow fadeInLeft text-large" data-wow-delay="0.3s">
                            Sprzedaj.
                        </div>
                        <div class="col-md white-text text-center mt-xl-5 mb-5 wow fadeIn text-large" data-wow-delay="0.3s">
                            Wymień.
                        </div>
                        <div class="col-md white-text text-center mt-xl-5 mb-5 wow fadeInRight text-large" data-wow-delay="0.3s">
                            Czytaj.
                        </div>
                    </div>
                </div>
            </div>
            <div class="mask d-flex justify-content-center">
                <div class="d-flex justify-content-center align-items-center mb-0 mt-auto desc-bottom">
                    <button class="btn bmarket-gradient text-white rounded-corners" onclick="location.href='/offers'">Zacznij teraz</button>
                </div>
            </div>
        </div>
    </header>

    <footer th:replace="html/footer.html :: footer"></footer>

<!--/*/ <th:block th:include="html/js.html :: scripts">
        </th:block> /*/-->

</body>
</html>
