<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>BMarket</title>
<head>
    <title>BMarket</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


</head>
<body>
    <div style="display: inline-block; float: left; padding-left: 3%">
        <h1>Bmarket</h1>
    </div>
    <div style="display: inline-block; float: right; padding-right: 5%; padding-top: 2%">
        <a href="/register">Zarejestruj się </a><b> | </b>Zaloguj się(WIP)
    </div>
</body>
</html>
