<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BMarket</title>
    <!--/*/ <th:block th:include="html/head.html :: imports">
        </th:block> /*/-->
</head>
<body>
<!-- CONTENT -->

<nav th:replace="html/header.html :: navigation"></nav>


<div class="container subpage-content mt-navigation">
    <div>
        <!--form start-->
            <div class="row">
                <!--form left column start-->
                <div class="col-sm-3">
                    <!--/*@thymesVar id="searchOfferDTO" type="com.zpi.bmarket.bmarket.DTO.SearchOfferDTO"*/-->
                    <form th:method="post" th:action="@{'/offers/'+${index}}" th:object="${searchOfferDTO}">
                        <div class="row">
                            <div class="col col-mw-130">
                                <span class="">Sortuj według</span>
                            </div>
                            <div class="col col-auto">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="price-low-high" name="order-by">
                                    <label class="custom-control-label" for="price-low-high">cena: od najniższej</label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="price-high-low" name="order-by" checked>
                                    <label class="custom-control-label" for="price-high-low">cena: od najwyższej</label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="newest-first" name="order-by" checked>
                                    <label class="custom-control-label" for="newest-first">od najnowszych</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col col-auto">
                                <span class="">Status</span>
                            </div>
                            <!--for each-->
                            <div class="col">
                                <div class="custom-control custom-checkbox"  th:each="status : ${statuses}">
                                    <input type="checkbox" class="custom-control-input" th:id="s + ${status.id}" th:value="${status.id}" th:field="*{statuses['__${status.id}__']}">
                                    <label class="custom-control-label" th:for="s + ${status.id}" th:text="${status.status}" th:value="${status.status}"></label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col col-auto">
                                <span class="">Typ oferty</span>
                            </div>
                            <!--foreach-->
                            <div class = "col" >
                                <div class="custom-control custom-checkbox" th:each="type : ${types}">
                                    <input type="checkbox" class="custom-control-input" th:id="t + ${type.id}" th:value="${type.id}" th:field="*{offerTypes['__${type.id}__']}">
                                    <label class="custom-control-label" th:for="t + ${type.id}" th:text="${type.type}" th:value="${type.type}" ></label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col col-auto">
                                <span class="">Kondycja</span>
                            </div>
                            <!--for each-->
                            <div class="col">
                                <div class="custom-control custom-checkbox" th:each="condition : ${conditions}">
                                    <input type="checkbox" class="custom-control-input" th:id="c + ${condition.id}" th:value="${condition.id}" th:field="*{conditions['__${condition.id}__']}">
                                    <label class="custom-control-label" th:for="c + ${condition.id}" th:text="${condition.value}" th:value="${condition.value}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="md-form">
                            <label for="price-min">Cena od</label>
                            <input type="text" id="price-min" class="form-control" th:field="*{priceMin}">
                        </div>
                        <div class="md-form">
                            <label for="price-max">Cena do</label>
                            <input type="text" id="price-max" class="form-control"th:field="*{priceMax}">
                        </div>
                        <button type="submit" class="btn btn-purple btn-book my-4" >Filtruj</button>
                    </form>
                </div>
                <!--form left column end-->
                <!--form right column start-->
                <div class="col-sm-9">
                    <table class="offer-list-table" style="">
                        <thead>
                            <th class="image-cell">Okładka</th>
                            <th>Szczegóły</th>
                            <th>Cena</th>
                        </thead>
                        <tbody>
                        <tr class="offer-row" style="" th:each="offer:${offers}">
                            <td class="image-cell"><img class="book-cover" src="https://www.engine-house.co.uk/wp-content/uploads/2016/03/MrMercedes_2.gif"></td>
                            <td style=""><div class="row">
                                <h4 th:text="${offer.title}"><strong></strong></h4>
                                </div>
                                <div class="row"><span th:text="${offer.books[0].authors}"></span>
                                </div>
                                <br>
                                <div class="row"> <span th:text="${offer.books[0].publisher}"></span>
                                </div></td>
                            <td style=""> <h2 th:text="${offer.price} + zł"><strong></strong></h2></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--
                    <div class="row book-entity" th:each="offer:${offers}">
                        <div class="col col-auto">
                            <img class="book-cover" src="https://www.engine-house.co.uk/wp-content/uploads/2016/03/MrMercedes_2.gif">
                        </div>
                        <div class="col align-self-center">
                            <div class="row">
                                <h4 th:text="${offer.title}"><strong></strong></h4>
                            </div>
                            <div class="row" th:text="${offer.books[0].authors}">
                            </div>
                            <br>
                            <div class="row" th:text="${offer.books[0].publisher}">
                            </div>
                        </div>
                        <div class="col col-auto align-self-center pos-ab-rg">
                            <h2 th:text="${offer.price} + zł"><strong></strong></h2>
                        </div>
                    </div>

                        <div class="col col-auto align-self-center pos-ab-rg">
                            <h2><strong><i class="fas fa-exchange-alt"></i></strong></h2>
                        </div>
                    </div>
                   -->
                <!--form right column end-->
                </div>
            </div>
            <div class="row mt-35">
                <div class="col">
                    <nav>
                        <ul class="pagination pg-blue justify-content-center pagination-lg" th:if="${index == 1}">
                            <li class="page-item disabled">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="/offers/1">1</a></li>
                            <li class="page-item"><a class="page-link" href="/offers/2">2</a></li>
                            <li class="page-item"><a class="page-link" href="/offers/3">3</a></li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Next" href="/offers/2">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>

                        </ul><ul class="pagination pg-blue justify-content-center pagination-lg" th:unless="${index == 1}">
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous" th:href="'/offers/'+${index-1}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" th:href="'/offers/'+${index-1}" th:text="${index}-1"></a></li>
                        <li class="page-item active"><a class="page-link" th:href="'/offers/'+${index}" th:text="${index}"></a></li>
                        <li class="page-item"><a class="page-link" th:href="'/offers/'+${index+1}" th:text="${index}+1"></a></li>
                        <li class="page-item">
                            <a class="page-link" aria-label="Next" th:href="'/offers/'+${index+1}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                    </nav>
                </div>
            </div>
        </form>
        <!--form end-->
    </div>
</div>


<footer th:replace="html/footer.html :: footer"></footer>

<!--/*/ <th:block th:include="html/js.html :: scripts">
        </th:block> /*/-->

</body>
</html>