<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BMarket</title>
    <!--/*/ <th:block th:include="html/head.html :: imports">
        </th:block> /*/-->
</head>
<body>
<!-- CONTENT -->
<nav th:replace="html/header.html :: navigation"></nav>
<div class="container mt-navigation">
    <h1>Wylogowano</h1>
</div>

<footer th:replace="html/footer.html :: footer"></footer>

<!--/*/ <th:block th:include="html/js.html :: scripts">
        </th:block> /*/-->

</body>
</html>
