<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BMarket</title>
    <!--/*/ <th:block th:include="html/head.html :: imports">
        </th:block> /*/-->
</head>
<body>
<!-- CONTENT -->
<nav th:replace="html/header.html :: navigation"></nav>
<div class="container mt-navigation">
    <h1>Użytkownik</h1>
    <p th:text="${userDTO.getName()}"></p>
    <p th:text="${userDTO.getEmail()}"></p>
    <section>
        <h2>Informacje osobiste</h2>

        <form method="post" th:action="@{/postUserEdit}" th:object="${userDTO}">
            <div class="form-group">
                <div class="md-form">
                    <label for="form1">Imię: </label>
                    <input th:value="${userDTO.name}" type="text" id="form1" class="form-control" th:field="*{name}">
                </div>
                <div class="md-form">
                    <label for="form2">Nazwisko: </label>
                    <input th:value="${userDTO.surname}" type="text" id="form2" class="form-control" th:field="*{surname}">
                </div>
                <div class="md-form">
                    <label for="form2">Numer telefonu: </label>
                    <input th:value="${userDTO.phoneNumber}" type="text" id="form3" class="form-control" th:field="*{phoneNumber}">
                </div>
                <label>Awatar</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"  th:field="*{avatarUrl}">
                        <label class="custom-file-label" for="inputGroupFile01">Wybierz plik</label>
                    </div>
                </div>

                <div class="md-form">
                    <label for="birth">Data urodzenia: </label>
                    <input th:text="'obecna data: ' + ${userDTO.birthDate}" th:value="${#dates.format(userDTO.birthDate, 'dd-MMM-yyyy')}" type="date" th:type="date" id="birth" class="form-control" th:field="*{birthDateString}">
                </div>


            </div>
            <button class="btn btn-outline-purple" type="submit" value="Zmień">Zatwierdź zmiany</button>
        </form>
    </section>
    <a class="btn btn-primary" href="/changePassword" role="button">zmień hasło</a>
    <a class="btn btn-primary" href="/changeAddress" role="button">zmień adres</a>
    <!--
        <section>
            <h2>Adres</h2>
            <form method="post" th:action="@{/postAddressEdit}" th:object="${user}">
                <div class="form-group">
                    <input type="text" id="street" th:field="*{street}" placeholder="Ulica">
                    <input type="text" id="houseNumber" th:field="*{houseNumber}" placeholder="Nr domu" style="width: 25px;">
                    <input type="text" id="apartmentNumber" th:field="*{apartmentNumber}" placeholder="Nr mieszkania" style="width: 25px;"><br>
                    <input type="text" id="zipCode" th:field="*{zipCode}" placeholder="Kod pocztowy" style="width: 50px;">
                    <input type="text" id="city" th:field="*{city}" placeholder="Miasto"><br>
                    <input type="text" id="state" th:field="*{state}" placeholder="Województwo"><br>
                    <input type="text" id="country" th:field="*{country}" placeholder="Państwo"><br>
                </div>
                <button  class="btn btn-primary" type="submit" value="Zmień">Zmień</button>
            </form>
        </section>

        <section>
            <h2>Dane kontaktowe</h2>
            <form method="post" th:action="@{/postContactEdit}" th:object="${user}">
                <div class="form-group">
                    <label>Email: </label><input type="text" id="email" th:field="*{email}"  placeholder="Email"><br>
                    <label>Nr telefonu: </label><input type="text" id="phoneNumber" th:field="*{phoneNumber}"  placeholder="Nr telefonu"><br>
                </div>
                <button  class="btn btn-primary" type="submit" value="Zmień">Zmień</button>
            </form>
        </section>

        <section>
            <h2>Hasło</h2>
            <form method="post" th:action="@{/postPasswordEdit}" th:object="${user}">
                <div class="form-group">
                    <label>Stare hasło: </label><input type="text" id="oldPassword" th:field="*{oldPassword}" placeholder="Stare hasło"><br>
                    <label>Nowe hasło: </label><input type="text" id="password" th:field="*{password}"  placeholder="Nowe hasło"><br>
                    <label>Powtórz hasło: </label><input type="text" id="matchingPassword" th:field="*{matchingPassword}"  placeholder="Powtórz hasło"><br>
                </div>
                <button  class="btn btn-primary" type="submit" value="Zmień">Zmień</button>
            </form>
        </section>
    -->
</div>

<footer th:replace="html/footer.html :: footer"></footer>

<!--/*/ <th:block th:include="html/js.html :: scripts">
        </th:block> /*/-->

</body>
</html>
